.container{
    width: 150px;
    margin: 0 auto;
    height: 100vh; 
}
.roundedcorners {
    border-radius:10px;
    border:3px solid #ccc;
    overflow: hidden;
}

.roundedcorners img {
    border-bottom-left-radius: 10px;
    float: left;
}
.roundedcorners h1 {
    background-color: brown;
    padding: 5px;
}

.main {
    display:flex;
}