.menu {
    border: 2px solid darkblue;
    height: auto;
    width: 20%;
    display: inline-block; 
    position: fixed;
    color: blue;
    background-color: grey;
    padding-top: 200px;
    margin: 0 auto;
    margin-top: 20px;   
}


li {
    border: 1px solid darkblue;
    width: 50%;
    padding-left: 10%;
    margin: 30px;
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color:lightseagreen;
    font-family: arial, sans-serif; 
}
body{

    background-image:  url("img/Background.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.wrapper{
    margin:10px auto;
    margin-bottom: 100px;
    width: 370px;
}


.raadje-plaatje{
	background-color: #fff;
	border-radius: 20px;
	/* overflow:hidden;	 */
	display:flex;
	justify-content: flex-start;
	/* flex-wrap: wrap; */
}

.img-grid{
	margin-top:35px;
	background-color:rgba(0, 0, 0, 0.54);
	padding:35px;
	border-radius: 20px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-around;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
}

.img--small{
	border: 3px solid #fff;
	margin:3px;
}

.picture{
	border:#0096ff 20px solid;
	border-radius: 20px;
	background-color: #0096ff;
	width:150px;
	height:150px;
}

.message{
	width:130px;
	padding:30px;
	font-size:1.4em;
}

.img-grid > img {
    border: 1px solid black;

}

