.menu {
    border: 2px solid darkblue;
    height: auto;
    width: 20%;
    display: inline-block; 
    position: fixed;
    color: blue;
    background-color: grey;
    padding-top: 200px;
    margin: 0 auto;
    margin-top: 20px;   
}


.menu li {
    border: 1px solid darkblue;
    width: 50%;
    padding-left: 10%;
    margin: 30px;
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color:lightseagreen;
    font-family: arial, sans-serif;
}
body{

    background-image:  url("img/Background.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.text li {
    padding-left: 350px;
    color:white;
    padding-top: 10px;
}
.text ol{
    list-style-type: circle;
}
.text p{
    padding-left: 350px;
    color: white;
    padding-top: 20px;
}
img{
    float: right;
    height: 300px;
    width: 400px;
    padding-top: 200px;
    padding-right: 350px;
}
.text{
    font-family: Arial, Helvetica, sans-serif;
    width: 700px;
}