.menu {
    border: 2px solid darkblue;
    height: auto;
    width: 20%;
    display: inline-block; 
    position: fixed;
    color: blue;
    background-color: rgb(128, 128, 128);
    padding-top: 200px;
    margin: 0 auto;
    margin-top: 20px;   
}


li {
    border: 1px solid darkblue;
    width: 50%;
    padding-left: 10%;
    margin: 30px;
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color:lightseagreen;
    font-family: arial, sans-serif; 
}
body{

    background-image:  url("img/Background.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.text {
    padding-left: 350px;
    color: white;
    padding-top: 30px;
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
}
p {
    padding: 10px;
}

.ikke{
    padding-left: 800px;
    padding-top: 100px;
    position: absolute;
}

