h1{
    color:darkblue;
}

.menu {
    border: 2px solid darkblue;
    height: auto;
    width: 20%;
    display: inline-block; 
    position: fixed;
    color: blue;
    background-color: grey;
    padding-top: 200px;
    margin: 0 auto;
    margin-top: 20px;   
}


li {
    border: 1px solid darkblue;
    width: 50%;
    padding-left: 10%;
    margin: 30px;
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color:lightseagreen;
    font-family: arial, sans-serif; 
}
body{

    background-image:  url("img/Background.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.foto{
    width: 100px;
    height: 200px;
    padding-top: -100px;
} 
h1 {
    margin-left: 200px;
}
