.menu {
    border: 2px solid darkblue;
    height: auto;
    width: 20%;
    display: inline-block; 
    position: fixed;
    color: blue;
    background-color: grey;
    padding-top: 200px;
    margin: 0 auto;
    margin-top: 20px;   
}


li {
    border: 1px solid darkblue;
    width: 50%;
    padding-left: 10%;
    margin: 30px;
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color:lightseagreen;
    font-family: arial, sans-serif;
}
body{

    background-image:  url("img/Background.jpg");
    background-size: cover;
    background-attachment: fixed;
}
img {
	width:100px;
    height:100px;
    margin: -13px auto;
}

table {
    padding: 50px;
    margin: 0 auto;
    
}
.text {
    padding-left: 350px;
    color: white;
    padding-top: 50px;
    padding-right: 0px;
    float: left;
    width: 300px;
}
.text p {
    width: 300px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.tabel{
    float: left;
    padding-top: 80px;
    padding-left:60px;
    margin: -13px;
}
td {
    border: 2px solid white;
    padding: 20px;
    background-color: rgba(92, 92, 200, 0.78);
}
th {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.sitemap{
padding-right: 600px;
padding-top: 460px;

}